#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  margin: 2px;
}

.read-the-docs {
  color: #888;
}

.playing-card {
  animation-duration: 120;
  margin: 2px;
}

.playing-card:hover {
  transform: scale(1.05); 
  cursor: pointer; 
}

.piles-container {
  display: flex;
  justify-content: center;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.pile-grid {
  max-width: fit-content;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;   
  gap: 2px;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 1%;
}


.player-hand {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 3px;
  margin-top: 3%;
  
}

.card-selected {
  border: 5px solid white;
  border-radius: 15px;

}

.temp-storage {
  position: fixed;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px; /* Spacing between cards */
}

.end-turn-button {
  margin-top: 5%;
  margin-left: 5%;
  border: 3px solid white;
  background-image: linear-gradient(180deg, #e65a5a, #bb1430);
}


.back-button {
  margin-top: 5%;
  border: 3px solid white;
  background-image: linear-gradient(180deg, #6090da, #2958a0);
}

.button:hover {
  transform: scale(1.05); 
  cursor: pointer; 
}

.temp-label {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 5px solid #d44444;
}



.label {
  border-bottom: 5px solid #d44444;
  margin-bottom: 0px;
}



.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  width: 100%; 
  margin: 0 auto; 
  padding: 15px; 
  box-sizing: border-box; 
  
}

.legal-moves-left {
  margin-bottom: 10px;
  font-weight: bolder;
  color: #caa708;
}

.score-button {
  border: 3px solid white;
  margin-bottom: 5%;
  background-image: linear-gradient(180deg, #caa708, #cf9009);
}

.restart-button {
  border: 3px solid white;
  margin-bottom: 5%;
  background-image: linear-gradient(180deg, #469be0, #2e7fa5);
}



html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: #274227;
  color: whitesmoke;
}

.points-notification {
  margin-top: 1%;
  margin-bottom: 0px;
  opacity: 0.95;
  color: #d44444;
  font-weight: 700;
}


.leaderboard-buttons {
  margin-top: 2%;
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5%;
}

.leaderboard-button {
  border: 2px solid white;
  margin-bottom: 5%;
  background-image: linear-gradient(180deg, #437550, #336133);
}

.leaderboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  row-gap: 25px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid white;
  background-color: #4d4d4d57;
  padding-bottom: 30px;
}
.leaderboard-header, .leaderboard-object {
  display: contents; 
}


span {
  padding: 5px;
}

.invisible {
  background-color: transparent;
  padding-block: 1px;
  padding-inline: 2px;
}